*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    border:none;
    outline:none;
    font-family:sans-serif;
    color:inherit;
}
/******************

GLOBAL PROPERTIES

******************/

body{
    /*background:url(../../img/doc_bg.png) repeat scroll 0 0 transparent;*/
    font-size: 15px;
    color:#333;
}
.clear{
    clear:both;
}
.hide{
    visibility:hidden !important;
}
.error{
    color:#cc0000;
}
.success{
    color:#35AC19;
}
@font-face{
    font-family:"glyphicons-halflings";
    src:url(../../fonts/glyphicons-halflings-regular.woff);
}
.glyphicon{
    font-family:"glyphicons-halflings";	
}
.close_button{
    display:block;
    width:30px;
    height:30px;
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
    background:url("../../img/close_btn.png") no-repeat scroll 50% 50% / 100% transparent;
}
/*======= Select wrapper ======*/
.select_wrapper{
    overflow:hidden;
    position:relative;
    padding-right:40px;
    background-color:#f3f3f3;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    display:inline-block;
    vertical-align:middle;
}
.select_wrapper:after{
    content:"";
    font-family:"glyphicons-halflings";
    font-size:18px;
    display:block;
    padding:5px 4px 3px;
    position:absolute;
    top:4px;
    right:5px;
    color:#777;
    text-align:center;
    border-radius:3px;
}
.select_wrapper select{
    width: calc(100% + 60px);
    background-color: transparent;
    border-radius: 3px;
    display: block;
    font-size: 15px;
    padding: 3px 60px 3px 7px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    min-height: 36px;
}
.select_wrapper select option{
    padding:5px;
}

label{
    padding:9px;
    color:#333;
    font-size:15px;
    display:inline-block;
    vertical-align:middle;
}

label.input_label{
    display:block;
    padding:5px 0;
    font-weight:600;
}
.text{
    border:1px solid #ccc;
    border-radius:3px;
    display: block;
    padding: 7px 15px;
    font-size:15px;
    color:#333;
    width: calc(100% - 30px);
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.text:focus{
    border-color:#66afe9;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}
.button{	
    display:block;
    padding:9px 0;
    text-align:center;
    max-width:300px;
    width:100%;
    margin:20px auto;
    font-size:17px;
    cursor:pointer;
    font-weight:600;

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.main_title{
    font-weight: 600;
    color:#555;
    font-size:30px;
    margin-bottom:20px;
    text-align: center;
}

.table{
    display:table;
    width: 100%;
}
.table-row{
    display: table-row;
}
.table-cell{
    display: table-cell;
    vertical-align: middle;
}

/*****************************************************************************************/
/***************************************** HEADER ****************************************/
/*****************************************************************************************/

header{
    text-align: center;
    padding:10px 20px;
    border-bottom:1px solid #999;
    background-color:#eee;
}
.main_logo{
    display:inline-block;
    float:left;
    color:#777;
    font-weight: 600;
    font-size:40px;
}

.logout{
    display:inline-block;
    float:right;
    max-width: initial;
    width:100px;
    margin: auto;
}

.menu_btn{
    border-radius:5px;
    padding:5px;
    background-color:#ccc;
    border:1px solid #999;
    font-weight: 600;
    font-size:17px;
    color:#777;
    cursor:pointer;
    margin-top:10px;
}
.menu_btn[data-pos="left"]{
    float:left;
}
.menu_btn[data-pos="right"]{
    float:right;
}
.menu_btn span{
    display:inline-block;
    vertical-align: middle;
}
.menu_btn .glyphicon{
    font-size:1.2em;
}

.menu_close{
    border-radius:5px;
    padding:5px;
    background-color:#ccc;
    border:1px solid #999;
    font-weight: 600;
    font-size:17px;
    color:#777;
    cursor:pointer;
    margin-bottom:10px; 
    text-align: center;
}
.menu_close span{
    display:inline-block;
    vertical-align: middle;
}
.menu_close .glyphicon{
    font-size:1.2em;
}

/*****************************************************************************************/
/***************************************** CONTENT ***************************************/
/*****************************************************************************************/

.wrapper {
    border: 1px solid transparent;
    margin: auto;
    max-width: 1920px;
    padding: 25px;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main_content{
    display:table;
    width: 100%;
}

/******************** LOGIN *******************/

.login-wrapper {
    margin: auto;
    max-width: 500px;
    padding: 20px;
    width: calc(100% - 20px);
}
.login-wrapper .form-group{
    display:table;
    width:100%;
    margin-bottom: 20px;
}
.login-wrapper .text{
    display:table-cell;
    vertical-align: middle;
}
.login-wrapper label.input_label{
    display:table-cell;
    vertical-align: middle;
    width:20%;
}

.login-wrapper .button{
    max-width: 150px;
    margin:auto;
}

/*********************** HOME ************************/

/******* Left Panel *******/

.left-panel{
    display: table-cell;
    vertical-align: top;
    width: 300px;
    padding: 1px;
}

.left-panel .left-panel_content {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    overflow: hidden;
}
.left-panel .any_categories {
    background-color: #eee;
    color: #777;
    display: block;
    font-size: 20px;
    padding: 10px;
}
.left-panel .any_categories .glyphicon {
    font-weight: 500;
    position: relative;
    top: 3px;
}
.left-panel ul li a{
    display:block;
    border-top: 1px solid #E0E0E0;
    background-color:#fff;
    font-size: 15px;
    color:#333;
    padding: 10px;

    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.left-panel ul li a:hover,
.left-panel ul li a.selected{
    background-color:#777;
    color:#fff;
    font-weight:600;
}

/******* Right Content *******/

.right-content{
    display: table-cell;
    vertical-align: top;
    padding-left: 30px;
}

/*Copters Table*/

.copters_table{
    display:table;
    width:100%;
}
.copters_table .ct_row{
    display:table-row;
}
.copters_table .ct_row .ct_cell{
    display:table-cell;
    vertical-align: middle;
    padding:10px;
    text-align: center;
}
.copters_table .ct_row:nth-child(odd .ct_cell){
    background-color: #f9f9f9;
}
.copters_table .ct_row.ct_head .ct_cell{
    background-color:#777;
    color:#fff;
    font-weight: 600;
}

.copters_table .ct_row .ct_cell .current_copter.button{
    display:inline-block;
    width:100px;
    margin: auto;
}

/*Current Cupter*/

.right-content.current_copter{
    display:table;
    width:100%;
    padding:0;
}

/*Copter Controls*/
.copter_controls{
    display:table-cell;
    vertical-align: top;    
    padding:10px;
    width:33%;
}
.copter_controls .cc_table{
    display:table;
    width:100%;
    margin-bottom:15px;
    max-width: 500px;
}
.copter_controls .form-group{
    display:table-cell;
    vertical-align: middle;  
    padding:0 15px;
}
.copter_controls .button{
    display:inline-block;
    margin:auto;
}
/*Copter Status*/
.status{
    margin-bottom:15px;
    display:table;
    width: 100%;
}
.copter_status_box{
    display:table-cell;
    vertical-align: middle;    
    text-align: right;
}
.copter_status{
    display:inline-block;
    width:100px;
    height:100px;
    line-height: 100px;
    border-radius: 50%;
    font-size:15px;
    font-weight: 600;
    text-align: center;
    background-color: #777;
    border:1px solid #555;
    color:#fff;
    position: relative;
}
.copter_status .page_reload{
    display:block;
    width:30px;
    height:30px;
    margin-left:-15px;
    position:absolute;
    left:50%;
    bottom:10px;
    background:url(../../img/reload.png) no-repeat scroll 50% 50% / 100% transparent;
}

.copter_status.connected{
    background-color: #59b210;
    border:1px solid #399201;
    color:#fff;    
}

.copter_status.error{
    background-color: #cc0000;
    border:1px solid #990000;
    color:#fff;    
}

/*Copter Image*/

.copter_image_box{
    display:table-cell;
    vertical-align: middle;    
    text-align: left;
}
.copter_image{
    display:inline-block;
    vertical-align: middle;
    width:100px;
    height:100px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;
}
.status .main_title{
    display:inline-block;
    margin:0 0 0 20px;
}


/*Copter Engine*/
.copter_engine{
    display:table-cell;
    vertical-align: top;    
    padding:10px;
    width:33%;
}
.engine_controls {
    text-align: center;
    white-space: nowrap;
}

.copter_controls_container.active{
    width:100%;
    height:100%;
    padding-top:10px;
    position:fixed;
    top:0;
    left:0;
    background-color:#fff;
    z-index: 10000;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.copter_controls_container.active .main_title{
    display:none;
}
.copter_controls_container.active .control_buttons{
    margin:auto;
}
.control_buttons{
    white-space: nowrap;
    text-align: center;
    margin:20px auto;
}
.control_buttons .button{
    display:inline-block;
    vertical-align: middle;
    margin:15px;
    padding: 10px 15px;
    width:auto;
}

.ec_block {
    border: 1px solid red;
    border-radius: 50%;
    display: inline-block;
    height: 200px;
    margin: auto;
    vertical-align: middle;
    width: 200px;
    position: relative;
}

.ec_block:first-child{
    margin-right: 20px;    
}

.ec_block .x_line{
    position: absolute;
    top:50%;
    left:0;
    width:100%;
    height:1px;
    background-color:red;
    text-align: right;
    z-index: -1;
    pointer-events: none;
    padding-right:15px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ec_block .y_line{
    position: absolute;
    top:0%;
    left:50%;
    height:100%;
    width:1px;
    background-color:red;
    text-indent: 5px;
    z-index: -1;
    pointer-events: none;
    padding-top:15px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ec_block .ec_btn{
    position:absolute;
    top:calc(50% - 15px);
    left:calc(50% - 15px);
    width:31px;
    height:31px;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
}

/*Copter Map*/
.copter_map{
    display:table-cell;
    vertical-align: top;    
    padding:10px;
    width:33%;
}

.map_canvas{
    height:300px;
    margin-bottom:30px;
    border: 1px solid #999;
}

/*Accelerometer & Geroskop*/

.mpu_control>div{
    margin-bottom:15px;
}

.mpu_control .mpu_label{
    display:inline-block;
    vertical-align: middle;
    font-weight:600;
    color:#555;
}

.mpu_control .button{
    display: inline-block;
    margin: auto auto auto 15px;
    padding: 9px 15px;
    vertical-align: middle;
    width: auto;
}

/*Accelerometer State*/
.accelerometer_state{
    height:100px;
}
.accelerometer_state .cube {
    perspective: 1000px;
    font-size: 50px;
    width: 2em;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
}

.accelerometer_state .side {
    position: absolute;
    width: 2em;
    height: 0.6em;
    background: rgba(255, 99, 71, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.5);


}
.accelerometer_state .top.side,
.accelerometer_state .bottom.side {
    height: 2em;
}


.accelerometer_state .front {
    transform: translateZ(1em);
}

.accelerometer_state .top{
    transform: rotateX(90deg) translateZ(1em);

}

.accelerometer_state .top.side{
    background: url('../../img/copters/topview.jpg') no-repeat scroll 50% 50% / cover transparent; 
}

.accelerometer_state .right {
    transform: rotateY(90deg) translateZ(1em);
}

.accelerometer_state .left {
    transform: rotateY(-90deg) translateZ(1em);
}

.accelerometer_state .bottom {
    transform: rotateX(-90deg) translateZ(-0.4em);
}

.accelerometer_state .back {
    transform: rotateY(-180deg) translateZ(1em);
}

/*Connection Log Messages*/

.conection_log_box{
    width:100%;
    max-width: 500px;
    height:300px;
    position:fixed;
    top:100px;
    right:0;
    margin-right:45px;
    padding-left:35px;
    transition: all 0.5s ease;
    z-index: 1000;
    transform: translate(100%,0);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.conection_log_box .con_log_btn{
    position:absolute;
    top:0;
    left:6px;
    width:30px;
    height:30px;
    border:1px solid #999;
    border-right-color:#fff;
    cursor: pointer;
    border-radius:5px 0px 0px 5px;
    background:url(../../img/left_arrow.png) no-repeat scroll 50% 50% / 100% transparent;    
}
.conection_log_box.opened{
    transform: translate(0,0);
    margin-right:0px;
}
.conection_log_box.opened .con_log_btn{
    background-image:url(../../img/right_arrow.png);
}

.conection_log_box .conectionLog{
    background-color:#fff;
    padding:15px;
    height:100%;
    overflow: auto;
    border:1px solid #999;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.conection_log_box .conectionLog .my_message{
    width:80%;
    padding:5px;
    background-color:#ddd;
    float:right;
    clear: both;
    margin-bottom:15px;
    border-radius: 5px;
    position: relative;
    word-wrap: break-word;
}

.conection_log_box .conectionLog .my_message:before {
    border-bottom: 7px solid transparent;
    border-left: 7px solid #ddd;
    border-top: 7px solid transparent;
    content: "";
    height: 0;
    right: -7px;
    position: absolute;
    top: 5px;
    width: 0;
}
.conection_log_box .conectionLog .copter_log_img{
    float: left;
    clear: both;
    width:30px;
    height:30px;
    margin-right:10px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;
}
.conection_log_box .conectionLog .copter_message{
    width:80%;
    padding:5px;
    background-color:#aaa;
    float: left;
    margin-bottom:15px;
    border-radius: 5px;
    position: relative;
}

.conection_log_box .conectionLog .copter_message:before {
    border-bottom: 7px solid transparent;
    border-right: 7px solid #aaa;
    border-top: 7px solid transparent;
    content: "";
    height: 0;
    left: -7px;
    position: absolute;
    top: 5px;
    width: 0;
}

/*Connection Error Message*/

.connection_error_message{
    background-image: linear-gradient(#ee0000, #aa0000);
    border-radius: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    height: 100px;
    left: 50%;
    line-height: 140px;
    position: fixed;
    text-align: center;
    top: -100px;
    transform: translate(-50%, 0px);
    transition: all 0.5s ease 0s;
    width: 300px;
}

.connection_error_message.visible{
    top:-50px;
}










/*****************************************************************************************/
/***************************************** FOOTER ****************************************/
/*****************************************************************************************/

footer{
    text-align: center;
    margin-top:30px;
}



/*****************************************************************************************/
/***************************************** GPIO CONTROLS ****************************************/
/*****************************************************************************************/
.gpio_control {
    margin-bottom: 20px;
}
.gpio_ctrl_table .table-cell{
    vertical-align: bottom;
    width: 33%;
    padding:0 10px;
}
.pin_ctrl .form-group{
    display: inline-block;
}
.pin_ctrl .button{
    display:inline-block;
    margin: 0 0 0 15px;
    width:auto;
    padding:9px 15px;
}

.gpio_ctrl_table .button{
    margin: auto;   
}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    display:inline-block;
    vertical-align: middle;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    padding: 0;
    overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.distance_meter_container{
    margin: auto;
    text-align: center;
    width: 420px;
}

/******************************************************************************/
/*                                                                            */
/*                                 RESPONSIVE                                 */
/*                                                                            */
/******************************************************************************/

@media screen and (max-width : 1450px){
    #copterJwPlayerContainer,
    #copterJwPlayerContainer>div,
    #copterJwPlayerContainer object,
    #copterVlcContainer,
    #copterVlcContainer embed{
        width: 360px !important;
        height: 240px !important;
        margin: 10px auto 0;
    }

    .copter_controls .cc_table{
        display:block;
        width:auto;
    }
    .copter_controls .form-group{
        display:block;
        text-align: center;
        padding:0;
        margin-top:10px;
    }
}
@media screen and (max-width : 1450px){
    .right-content.current_copter{
        display:block;
        width:auto;
    }
    .copter_controls,
    .copter_map{
        display:block;
        width:100%;
        height:100%;
        max-width:500px;
        position:fixed;
        top:0;
        padding:10px;
        overflow: auto;
        z-index:5000;
        background-color:#fff;
        transition:all 0.3s ease;
        box-shadow: 0 0 7px #777;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .copter_controls{
        left:-500px;
    }
    .copter_controls.active{
        left:0px;
    }
    .copter_map{
        right:-500px;
    }
    .copter_map.active{
        right:0px;
    }
    .copter_engine{
        display:block;
        width:auto;
    }
}
@media screen and (max-width : 768px){
    .wrapper{
        padding:10px;
    }
}
@media screen and (max-width : 550px){
    .status,
    .copter_image_box,
    .copter_status_box{
        display:block;
        width:auto;
        text-align: center;
    }
}