*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    border:none;
    outline:none;
    font-family:sans-serif;
    color:inherit;
}
/******************

GLOBAL PROPERTIES

******************/

body{
    /*background:url(../../img/doc_bg.png) repeat scroll 0 0 transparent;*/
    font-size: 15px;
    color:#333;
}
.clear{
    clear:both;
}
.hide{
    visibility:hidden !important;
}
.error{
    color:#cc0000;
}
.success{
    color:#35AC19;
}
@font-face{
    font-family:"glyphicons-halflings";
    src:url(../../fonts/glyphicons-halflings-regular.woff);
}
.glyphicon{
    font-family:"glyphicons-halflings";	
}
.close_button{
    display:block;
    width:30px;
    height:30px;
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
    background:url("../../img/close_btn.png") no-repeat scroll 50% 50% / 100% transparent;
}
/*======= Select wrapper ======*/
.select_wrapper{
    overflow:hidden;
    position:relative;
    padding-right:40px;
    background-color:#f3f3f3;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    display:inline-block;
    vertical-align:middle;
}
.select_wrapper:after{
    content:"";
    font-family:"glyphicons-halflings";
    font-size:18px;
    display:block;
    padding:5px 4px 3px;
    position:absolute;
    top:4px;
    right:5px;
    color:#777;
    text-align:center;
    border-radius:3px;
}
.select_wrapper select{
    width: calc(100% + 60px);
    background-color: transparent;
    border-radius: 3px;
    display: block;
    font-size: 15px;
    padding: 3px 60px 3px 7px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    min-height: 36px;
}
.select_wrapper select option{
    padding:5px;
}

label{
    padding:9px;
    color:#333;
    font-size:15px;
    display:inline-block;
    vertical-align:middle;
}

label.input_label{
    display:block;
    padding:5px 0;
    font-weight:600;
}
.text{
    border:1px solid #ccc;
    border-radius:3px;
    display: block;
    padding: 7px 15px;
    font-size:15px;
    color:#333;
    width: calc(100% - 30px);
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.text:focus{
    border-color:#66afe9;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}
.button{	
    display:block;
    padding:9px 0;
    text-align:center;
    max-width:300px;
    width:100%;
    margin:20px auto;
    font-size:17px;
    cursor:pointer;
    font-weight:600;

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.main_title{
    font-weight: 600;
    color:#555;
    font-size:30px;
    margin-bottom:20px;
    text-align: center;
}

/*****************************************************************************************/
/***************************************** HEADER ****************************************/
/*****************************************************************************************/

header{
    text-align: center;
    padding:10px 20px;
    border-bottom:1px solid #999;
    background-color:#eee;
}
.main_logo{
    display:inline-block;
    float:left;
    color:#777;
    font-weight: 600;
    font-size:40px;
}

.logout{
    display:inline-block;
    float:right;
    max-width: initial;
    width:100px;
    margin: auto;
}

/*****************************************************************************************/
/***************************************** CONTENT ***************************************/
/*****************************************************************************************/

.wrapper {
    border: 1px solid transparent;
    margin: auto;
    max-width: 1920px;
    padding: 25px;
    width: calc(100% - 52px);
}

.main_content{
    display:table;
    width: 100%;
}

/******************** LOGIN *******************/

.login-wrapper {
    margin: auto;
    max-width: 500px;
    padding: 20px;
    width: calc(100% - 20px);
}
.login-wrapper .form-group{
    display:table;
    width:100%;
    margin-bottom: 20px;
}
.login-wrapper .text{
    display:table-cell;
    vertical-align: middle;
}
.login-wrapper label.input_label{
    display:table-cell;
    vertical-align: middle;
    width:20%;
}

.login-wrapper .button{
    max-width: 150px;
    margin:auto;
}

/*********************** HOME ************************/

/******* Left Panel *******/

.left-panel{
    display: table-cell;
    vertical-align: top;
    width: 300px;
    padding: 1px;
}

.left-panel .left-panel_content {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    overflow: hidden;
}
.left-panel .any_categories {
    background-color: #eee;
    color: #777;
    display: block;
    font-size: 20px;
    padding: 10px;
}
.left-panel .any_categories .glyphicon {
    font-weight: 500;
    position: relative;
    top: 3px;
}
.left-panel ul li a{
    display:block;
    border-top: 1px solid #E0E0E0;
    background-color:#fff;
    font-size: 15px;
    color:#333;
    padding: 10px;

    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.left-panel ul li a:hover,
.left-panel ul li a.selected{
    background-color:#777;
    color:#fff;
    font-weight:600;
}

/******* Right Content *******/

.right-content{
    display: table-cell;
    vertical-align: top;
    padding-left: 30px;
}

/*Copters Table*/

.copters_table{
    display:table;
    width:100%;
}
.copters_table .ct_row{
    display:table-row;
}
.copters_table .ct_row .ct_cell{
    display:table-cell;
    vertical-align: middle;
    padding:10px;
    text-align: center;
}
.copters_table .ct_row:nth-child(odd .ct_cell){
    background-color: #f9f9f9;
}
.copters_table .ct_row.ct_head .ct_cell{
    background-color:#777;
    color:#fff;
    font-weight: 600;
}

.copters_table .ct_row .ct_cell .current_copter.button{
    display:inline-block;
    width:100px;
    margin: auto;
}

/*Current Cupter*/

.right-content.current_copter{
    display:table;
    width:100%;
    padding:0;
}

/*Copter Controls*/
.copter_controls{
    display:table-cell;
    vertical-align: top;    
    padding:10px;
    width:33%;
}
.copter_controls .cc_table{
    display:table;
    width:100%;
    margin-bottom:15px;
    max-width: 500px;
}
.copter_controls .form-group{
    display:table-cell;
    vertical-align: middle;  
    padding:0 15px;
}
.copter_controls .button{
    display:inline-block;
    margin:auto;
}
/*Copter Status*/
.status{
    margin-bottom:15px;
    display:table;
    width: 100%;
}
.copter_status_box{
    display:table-cell;
    vertical-align: middle;    
    text-align: right;
}
.copter_status{
    display:inline-block;
    width:100px;
    height:100px;
    line-height: 100px;
    border-radius: 50%;
    font-size:15px;
    font-weight: 600;
    text-align: center;
    background-color: #777;
    border:1px solid #555;
    color:#fff;
    position: relative;
}
.copter_status .page_reload{
    display:block;
    width:30px;
    height:30px;
    margin-left:-15px;
    position:absolute;
    left:50%;
    bottom:10px;
    background:url(../../img/reload.png) no-repeat scroll 50% 50% / 100% transparent;
}

.copter_status.connected{
    background-color: #59b210;
    border:1px solid #399201;
    color:#fff;    
}

.copter_status.error{
    background-color: #cc0000;
    border:1px solid #990000;
    color:#fff;    
}

/*Copter Image*/

.copter_image_box{
    display:table-cell;
    vertical-align: middle;    
    text-align: left;
}
.copter_image{
    display:inline-block;
    vertical-align: middle;
    width:100px;
    height:100px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;
}
.status .main_title{
    display:inline-block;
    margin:0 0 0 20px;
}


/*Copter Engine*/
.copter_engine{
    display:table-cell;
    vertical-align: top;    
    padding:10px;
    width:33%;
}

/*Copter Map*/
.copter_map{
    display:table-cell;
    vertical-align: top;    
    padding:10px;
    width:33%;
}

.map_canvas{
    height:300px;
    margin-bottom:30px;
    border: 1px solid #999;
}

/*Connection Log Messages*/

.conection_log_box{
    width:500px;
    height:300px;
    position:fixed;
    top:100px;
    right:-490px;
    transition: all 0.5s ease;
    z-index: 1000;
    background-color:#fff;
}

.conection_log_box .con_log_btn{
    position:absolute;
    top:0;
    left:-29px;
    width:30px;
    height:30px;
    border:1px solid #999;
    border-right-color:#fff;
    cursor: pointer;
    border-radius:5px 0px 0px 5px;
    background:url(../../img/left_arrow.png) no-repeat scroll 50% 50% / 100% transparent;    
}
.conection_log_box.opened{
    right:0;
}
.conection_log_box.opened .con_log_btn{
    background-image:url(../../img/right_arrow.png);
}

.conection_log_box .conectionLog{
    padding:15px;
    height:calc(100% - 30px);
    overflow: auto;
    border:1px solid #999;
}

.conection_log_box .conectionLog .my_message{
    width:80%;
    padding:5px;
    background-color:#ddd;
    float:right;
    clear: both;
    margin-bottom:15px;
    border-radius: 5px;
}
.conection_log_box .conectionLog .copter_log_img{
    float: left;
    clear: both;
    width:30px;
    height:30px;
    margin-right:5px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;
}
.conection_log_box .conectionLog .copter_message{
    width:80%;
    padding:5px;
    background-color:#aaa;
    float: left;
    margin-bottom:15px;
    border-radius: 5px;
}














/*****************************************************************************************/
/***************************************** FOOTER ****************************************/
/*****************************************************************************************/

footer{
    text-align: center;
    margin-top:30px;
}



