RewriteEngine On
RewriteBase /

RewriteRule ^admin/login/?$  /dyn/admin/main/$1/?page=login [L,QSA]
RewriteRule ^admin/copters  /dyn/admin/main/$1/?page=copters [L,QSA]
RewriteRule ^admin/copter/(.*)$  /dyn/admin/main/$1/?page=copter [L,QSA]
RewriteRule ^admin/?$  /dyn/admin/main/$1/?page=home [L,QSA]

RewriteRule ^registerCopter$  /dyn/main/do_register_copter/$1/ [L,QSA]
RewriteRule ^setCopterGpsData$ /dyn/main/do_set_copter_gps_data/$1/ [L,QSA]

RewriteRule ^login$  /dyn/main/main/$1/?page=login [L,QSA]

RewriteRule ^/?$ /dyn/main/main [L,QSA] 
RewriteRule ^dyn(/.+)?/?$ /index1.php?_url=$1 [L,QSA]